In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.5)

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

In [4]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [5]:
import os

# Definindo a variável de ambiente do Java
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

# Definindo a variável de ambiente do Spark
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [6]:
# instalando a findspark
!pip install -q findspark

In [7]:
# Importando a findspark
import findspark

# Iniciando o findspark
findspark.init()

In [8]:

# importando o pacote necessário para iniciar uma seção Spark
from pyspark.sql import SparkSession

# iniciando o spark context
spark = SparkSession.builder.master('local[*]').getOrCreate()

# Verificando se a sessão foi criada
spark

In [9]:
df_train = spark.read.format("csv")\
.option("header", "True")\
.option("inferSchema","True")\
.load("/content/drive/MyDrive/Colab Notebooks/basest/train_ver2.csv")

In [10]:
df_train

DataFrame[fecha_dato: string, ncodpers: double, ind_empleado: string, pais_residencia: string, sexo: string, age: string, fecha_alta: string, ind_nuevo: string, antiguedad: string, indrel: string, ult_fec_cli_1t: string, indrel_1mes: string, tiprel_1mes: string, indresi: string, indext: string, conyuemp: string, canal_entrada: string, indfall: string, tipodom: string, cod_prov: string, nomprov: string, ind_actividad_cliente: string, renta: double, segmento: string, ind_ahor_fin_ult1: int, ind_aval_fin_ult1: int, ind_cco_fin_ult1: int, ind_cder_fin_ult1: int, ind_cno_fin_ult1: int, ind_ctju_fin_ult1: int, ind_ctma_fin_ult1: int, ind_ctop_fin_ult1: int, ind_ctpp_fin_ult1: int, ind_deco_fin_ult1: int, ind_deme_fin_ult1: int, ind_dela_fin_ult1: int, ind_ecue_fin_ult1: int, ind_fond_fin_ult1: int, ind_hip_fin_ult1: int, ind_plan_fin_ult1: int, ind_pres_fin_ult1: int, ind_reca_fin_ult1: int, ind_tjcr_fin_ult1: int, ind_valo_fin_ult1: int, ind_viv_fin_ult1: int, ind_nomina_ult1: string, ind_nom_pens_ult1: string, ind_recibo_ult1: int]

In [22]:
df_train.printSchema()

root
 |-- fecha_dato: string (nullable = true)
 |-- ncodpers: double (nullable = true)
 |-- ind_empleado: string (nullable = true)
 |-- pais_residencia: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- fecha_alta: string (nullable = true)
 |-- ind_nuevo: string (nullable = true)
 |-- antiguedad: string (nullable = true)
 |-- indrel: string (nullable = true)
 |-- indrel_1mes: string (nullable = true)
 |-- tiprel_1mes: string (nullable = true)
 |-- indresi: string (nullable = true)
 |-- indext: string (nullable = true)
 |-- canal_entrada: string (nullable = true)
 |-- indfall: string (nullable = true)
 |-- tipodom: string (nullable = true)
 |-- cod_prov: string (nullable = true)
 |-- nomprov: string (nullable = true)
 |-- ind_actividad_cliente: string (nullable = true)
 |-- renta: double (nullable = true)
 |-- segmento: string (nullable = true)
 |-- ind_ahor_fin_ult1: integer (nullable = true)
 |-- ind_aval_fin_ult1: integer (nullable = true)
 |-- ind_cco_fin_ult1: integer (nullable = true)
 |-- ind_cder_fin_ult1: integer (nullable = true)
 |-- ind_cno_fin_ult1: integer (nullable = true)
 |-- ind_ctju_fin_ult1: integer (nullable = true)
 |-- ind_ctma_fin_ult1: integer (nullable = true)
 |-- ind_ctop_fin_ult1: integer (nullable = true)
 |-- ind_ctpp_fin_ult1: integer (nullable = true)
 |-- ind_deco_fin_ult1: integer (nullable = true)
 |-- ind_deme_fin_ult1: integer (nullable = true)
 |-- ind_dela_fin_ult1: integer (nullable = true)
 |-- ind_ecue_fin_ult1: integer (nullable = true)
 |-- ind_fond_fin_ult1: integer (nullable = true)
 |-- ind_hip_fin_ult1: integer (nullable = true)
 |-- ind_plan_fin_ult1: integer (nullable = true)
 |-- ind_pres_fin_ult1: integer (nullable = true)
 |-- ind_reca_fin_ult1: integer (nullable = true)
 |-- ind_tjcr_fin_ult1: integer (nullable = true)
 |-- ind_valo_fin_ult1: integer (nullable = true)
 |-- ind_viv_fin_ult1: integer (nullable = true)
 |-- ind_nomina_ult1: string (nullable = true)
 |-- ind_nom_pens_ult1: string (nullable = true)
 |-- ind_recibo_ult1: integer (nullable = true)

In [16]:
from pyspark.sql.functions import *

In [21]:
df_train = df_train.withColumn(
    colName = 'age', 
    col = regexp_replace('age',',','.').cast('int')
    )

# Inspecionando o resultado
df_train.select('age').printSchema()

root
 |-- age: integer (nullable = true)

In [12]:
df_train=df_train.drop('conyuemp')

In [13]:
df_train=df_train.drop('ult_fec_cli_1t')

In [23]:
df_train.show(10)

+----------+---------+------------+---------------+----+---+----------+---------+----------+------+-----------+-----------+-------+------+-------------+-------+-------+--------+-----------+---------------------+------------------+------------------+-----------------+-----------------+----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+---------------+-----------------+---------------+
|fecha_dato| ncodpers|ind_empleado|pais_residencia|sexo|age|fecha_alta|ind_nuevo|antiguedad|indrel|indrel_1mes|tiprel_1mes|indresi|indext|canal_entrada|indfall|tipodom|cod_prov|    nomprov|ind_actividad_cliente|             renta|          segmento|ind_ahor_fin_ult1|ind_aval_fin_ult1|ind_cco_fin_ult1|ind_cder_fin_ult1|ind_cno_fin_ult1|ind_ctju_fin_ult1|ind_ctma_fin_ult1|ind_ctop_fin_ult1|ind_ctpp_fin_ult1|ind_deco_fin_ult1|ind_deme_fin_ult1|ind_dela_fin_ult1|ind_ecue_fin_ult1|ind_fond_fin_ult1|ind_hip_fin_ult1|ind_plan_fin_ult1|ind_pres_fin_ult1|ind_reca_fin_ult1|ind_tjcr_fin_ult1|ind_valo_fin_ult1|ind_viv_fin_ult1|ind_nomina_ult1|ind_nom_pens_ult1|ind_recibo_ult1|
+----------+---------+------------+---------------+----+---+----------+---------+----------+------+-----------+-----------+-------+------+-------------+-------+-------+--------+-----------+---------------------+------------------+------------------+-----------------+-----------------+----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+---------------+-----------------+---------------+
|2015-01-28|1375586.0|           N|             ES|   H| 35|2015-01-12|        0|         6|     1|        1.0|          A|      S|     N|          KHL|      N|      1|      29|     MALAGA|                    1|           87218.1| 02 - PARTICULARES|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050611.0|           N|             ES|   V| 23|2012-08-10|        0|        35|     1|          1|          I|      S|     S|          KHE|      N|      1|      13|CIUDAD REAL|                    0|          35548.74|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050612.0|           N|             ES|   V| 23|2012-08-10|        0|        35|     1|          1|          I|      S|     N|          KHE|      N|      1|      13|CIUDAD REAL|                    0|122179.11000000002|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050613.0|           N|             ES|   H| 22|2012-08-10|        0|        35|     1|          1|          I|      S|     N|          KHD|      N|      1|      50|   ZARAGOZA|                    0|         119775.54|03 - UNIVERSITARIO|                0|                0|               0|                0|               0|                0|                0|                0|                0|                1|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050614.0|           N|             ES|   V| 23|2012-08-10|        0|        35|     1|          1|          A|      S|     N|          KHE|      N|      1|      50|   ZARAGOZA|                    1|              null|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050615.0|           N|             ES|   H| 23|2012-08-10|        0|        35|     1|          1|          I|      S|     N|          KHE|      N|      1|      45|     TOLEDO|                    0|          22220.04|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050616.0|           N|             ES|   H| 23|2012-08-10|        0|        35|     1|          1|          I|      S|     N|          KHE|      N|      1|      24|       LEON|                    0|         295590.36|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050617.0|           N|             ES|   H| 23|2012-08-10|        0|        35|     1|          1|          A|      S|     N|          KHE|      N|      1|      50|   ZARAGOZA|                    1|         113316.66|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050619.0|           N|             ES|   H| 24|2012-08-10|        0|        35|     1|          1|          I|      S|     N|          KHE|      N|      1|      20|   GIPUZKOA|                    0|              null|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
|2015-01-28|1050620.0|           N|             ES|   H| 23|2012-08-10|        0|        35|     1|          1|          I|      S|     N|          KHE|      N|      1|      10|    CACERES|                    0|         113194.98|03 - UNIVERSITARIO|                0|                0|               1|                0|               0|                0|                0|                0|                0|                0|                0|                0|                0|                0|               0|                0|                0|                0|                0|                0|               0|              0|                0|              0|
+----------+---------+------------+---------------+----+---+----------+---------+----------+------+-----------+-----------+-------+------+-------------+-------+-------+--------+-----------+---------------------+------------------+------------------+-----------------+-----------------+----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----------------+---------------+-----------------+---------------+
only showing top 10 rows

In [ ]:
df_train.groupBy("segmento").avg("age").show()